*{
  padding: 0;
  margin: 0;
}
h1 {
  font-family: 'Diplomata SC';
}
h1, label, .top {
  color: aliceblue;
  font-weight: bolder;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(blue, rgb(8, 9, 60), black);
}
.mainContent {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    height: 100vh;
    overflow: scroll;
}
.card {
    margin-left: 10px;
}
.meme{
  height: 300px;
  max-width: 30%;
  overflow:scroll;
}
@media screen and (max-width: 900px) {
  .meme {
    width: 45%;
    height:auto
  }}
 @media screen and (max-width: 641px) {
    .meme {
      max-width: 90%;
      height: auto;
    }
  .form-doodle{height: auto;}}

.meme:hover{
  transform: scale(1.2);
}
fieldset {
    border: 1px;
  }
.form-doodle{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: linear-gradient(blue, rgb(8, 9, 60), black);
  margin: 15px;
  height: 30%;
  overflow: scroll;

}
button{
  background-color: blue;
  color: aliceblue;
}
button:hover {
  background-color: aliceblue;
  color: blue;

}
.library {
  background-color: black;
  font-family: 'Diplomata SC';
  height: 60%;
  overflow: scroll;
  
}

.libMeme {
  width: 200px;
  margin:4px auto;

}

.boop {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: black;
  display: block;
  justify-content: center;
}
.top{
  background-image: linear-gradient(blue, rgb(8, 9, 60), black);
}
